```{include} _templates/nav.html
```

# Drudge dashboard

As part of the [homepages.news](https://homepages.news/) archiving routine, the system routinely captures [The Drudge Report](https://palewi.re/docs/news-homepages/sites/drudge.html), a news aggregator focused on Beltway politics, celebrity scandal, extreme weather and other catastrophes of American life.

This page updates daily with an analysis of what's been promoted.

## Volume

Over the last 90 days, Drudge's homepage has featured {{ "{:,.0f}".format(total_urls) }} stories from {{ "{:,.0f}".format(total_sites) }} different sites, an average {{ "{:,.1f}".format(links_per_day) }} per day.

<div id="vis" style="width: 100%; height: 250px;"></div>
  <script>
const spec = {
  "config": {
    "view": {"strokeWidth": 0},
    "padding": {"top": 15, "bottom": 15, "left": 10, "right": 10},
    "background": "#ffffff",
    "title": {
      "anchor": "start",
      "font": "\"Libre Franklin\",\"Helvetica\",\"Liberation Sans\",Arial,sans-serif",
      "color": "#000000",
      "fontSize": 20,
      "fontWeight": "bold",
      "lineHeight": 26,
      "subtitleFont": "\"Libre Franklin\",\"Helvetica\",\"Liberation Sans\",Arial,sans-serif",
      "subtitleFontSize": 14,
      "subtitleLineHeight": 18,
      "subtitlePadding": 5,
      "offset": 20
    },
    "arc": {"fill": "#cecece"},
    "area": {"fill": "#cecece"},
    "line": {"stroke": "#cecece", "strokeWidth": 3},
    "rect": {"fill": "#cecece"},
    "bar": {"fill": "#cecece"},
    "point": {"stroke": "#cecece"},
    "axis": {
      "titleFont": "\"Libre Franklin\",\"Helvetica\",\"Liberation Sans\",Arial,sans-serif",
      "titleFontSize": 14,
      "titleFontWeight": "normal",
      "labelFont": "\"Libre Franklin\",\"Helvetica\",\"Liberation Sans\",Arial,sans-serif",
      "labelFontSize": 12,
      "labelFontWeight": "normal",
      "tickColor": "#727272",
      "labelColor": "#727272"
    },
    "axisX": {
      "labelAngle": 0,
      "labelPadding": 10,
      "labelFlush": true,
      "tickSize": 0,
      "domain": false
    },
    "axisY": {
      "labelBaseline": "middle",
      "labelPadding": 5,
      "labelFlush": true,
      "tickSize": 0,
      "titleAlign": "left",
      "titleAngle": 0,
      "titleX": -45,
      "titleY": -11,
      "domain": false
    },
    "legend": {
      "titleFont": "\"Libre Franklin\",\"Helvetica\",\"Liberation Sans\",Arial,sans-serif",
      "titleFontSize": 14,
      "titleFontWeight": "normal",
      "symbolType": "square",
      "labelFont": "\"Libre Franklin\",\"Helvetica\",\"Liberation Sans\",Arial,sans-serif",
      "labelFontSize": 13
    },
    "range": {
      "heatmap": [
        "#5e5e5e",
        "#727272",
        "#858585",
        "#989898",
        "#aaaaaa",
        "#bcbcbc",
        "#c4c4c4",
        "#cecece",
        "#e0e0e0",
        "#f0f0f0",
        "#ffffff"
      ],
      "ordinal": [
        "#5e5e5e",
        "#727272",
        "#858585",
        "#989898",
        "#aaaaaa",
        "#bcbcbc",
        "#c4c4c4",
        "#cecece",
        "#e0e0e0",
        "#f0f0f0",
        "#ffffff"
      ],
      "ramp": [
        "#5e5e5e",
        "#727272",
        "#858585",
        "#989898",
        "#aaaaaa",
        "#bcbcbc",
        "#c4c4c4",
        "#cecece",
        "#e0e0e0",
        "#f0f0f0",
        "#ffffff"
      ]
    }
  },
  "layer": [
    {
      "mark": {"type": "bar", "opacity": 0.6},
      "encoding": {
        "tooltip": [
          {"field": "date", "type": "temporal"},
          {"field": "n", "type": "quantitative"}
        ],
        "x": {
          "axis": {"format": "%b %-d", "grid": false},
          "field": "date",
          "timeUnit": "yearmonthdate",
          "title": null,
          "type": "temporal"
        },
        "y": {"field": "n", "type": "quantitative"}
      }
    },
    {
      "mark": {"type": "line", "stroke": "#727272"},
      "encoding": {
        "tooltip": [
          {"field": "date", "type": "temporal"},
          {"field": "n", "type": "quantitative"}
        ],
        "x": {
          "axis": {"format": "%b %-d", "grid": false},
          "field": "date",
          "timeUnit": "yearmonthdate",
          "title": null,
          "type": "temporal"
        },
        "y": {
          "field": "7_day_rolling_average",
          "title": null,
          "type": "quantitative"
        }
      }
    }
  ],
  "data": {"name": "data-95e958de5cb046c88a5decde45c79590"},
  "title": {
    "text": "Total by day",
    "subtitle": "Seven-day rolling average"
  },
  "width": "container",
  "height": 250,
  "padding": 0,
  "$schema": "https://vega.github.io/schema/vega-lite/v4.17.0.json",
  "datasets": {
    "data-95e958de5cb046c88a5decde45c79590": {{ chart_json }}
  }
};
    vegaEmbed("#vis", spec, {mode: "vega-lite"}).then(console.log).catch(console.warn);
  </script>

## Top words

Here are the people, places and things mentioned in the most headlines, as well as each's most commonly paired verb.

<div class="table-container">
<table class="colwidths-auto docutils align-default drudge-table drudge-entities">
 <thead>
  <tr>
    <th class="head rank">Rank</th>
    <th class="head">Word</th>
    <th class="head">Top verb</th>
    <th class="head" style="text-align: right;">Headlines</th>
    <th class="head">Trend</th>
  </tr>
 </thead>
 <tbody>
  {% for obj in entity_list %}
  <tr>
    <td class="rank">{{ obj.rank }}.</td>
    <td>
        {{ obj.lemma }}
    </td>
    <td>
        {{ obj.top_verb }}
    </td>
    <td style="text-align: right;">
        {{ obj.n }}
    </td>
    <td class="trend-chart">{% if loop.index0 == 0 %}
<div class="trend-axis-label">
    <span class="trend-axis-left">{{ min_date.strftime('%b. %-d') }}</span>
    <span class="trend-axis-right">{{ max_date.strftime('%b. %-d') }}</span>
</div>
{% endif %}<img src="_static/charts/drudge/top-words/{{ obj.lemma.lower() }}.svg"
     alt="{{ obj.lemma }} trend chart"
     width=168
     height=20 />
</td>
  </tr>
  {% endfor %}
 </tbody>
</table>
</div>

## Top domains

Here are the 25 mostly frequently linked sites.

<div class="table-container">
<table class="colwidths-auto docutils align-default drudge-table">
 <thead>
  <tr>
    <th class="head rank">Rank</th>
    <th class="head">Site</th>
    <th class="head" style="text-align: right;">Headlines</th>
    <th class="head" style="text-align: right;">Percent</th>
  </tr>
 </thead>
 <tbody>
  {% for obj in site_list %}
  <tr>
    <td class="rank">{{ obj.rank }}.</td>
    <td>
        <a href="https://{{ obj.domain }}/">
            {{ obj.domain }}
        </a>
    </td>
    <td style="text-align: right;">
        {{ "{:,.0f}".format(obj.n) }}
    </td>
    <td style="text-align: right;">
        {% if obj.percent < 0.1 %}<0.1%{% else %}{{ obj.percent }}%{% endif %}
    </td>
  </tr>
  {% endfor %}
 </tbody>
</table>
</div>
