```{include} _templates/nav.html

```

# Who blocks ChatGPT?

The following {{ gptbot_rules_list|length }} sites blocked [OpenAI's GPTBot](https://platform.openai.com/docs/gptbot) in the most recent archive of their [`robots.txt`](https://en.wikipedia.org/wiki/Robots.txt) file. The artificial intelligence company [has said](https://www.theverge.com/2023/8/7/23823046/openai-data-scrape-block-ai) it will not use data gathered from sites that block it to train the models that power ChatGPT and other products.

<table class="colwidths-auto docutils align-default">
 <thead>
  <tr>
    <th class="head">Site</th>
    <th class="head">robots.txt URL</th>
    <th class="head">User-Agent</th>
    <th class="head">Rule</th>
  </tr>
 </thead>
 <tbody>
  {% for obj in gptbot_rules_list %}
  <tr>
    <td>{{ obj.name }}</td>
    <td>{{ obj.robotstxt_url }}</td>
    <td>{{ obj.user_agent }}</td>
    <td>{{ obj.rules }}</td>
  </tr>
  {% endfor %}
 </tbody>
</table>
