README.md
LICENSE
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
recursive-include newshomepages/extensions *
recursive-include newshomepages/sources *.csv
recursive-include newshomepages/sources *.js
