interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://archive.org/metadata/latimes-2023
  response:
    body:
      string: '{"created":1697827217,"d1":"ia904706.us.archive.org","d2":"ia804706.us.archive.org","dir":"/21/items/latimes-2023","files":[{"name":"__ia_thumb.jpg","source":"original","mtime":"1672580767","size":"16673","md5":"cf24b4701ed51848084094a435d94bc4","crc32":"92e8bcb2","sha1":"724dc4ae616bda5390015a3f276e1b7e164f668f","format":"Item
        Tile","rotation":"0"},{"name":"latimes-2023-01-01T05:45:04.355736-08:00.accessibility.json","source":"original","mtime":"1672580722","size":"47227","md5":"a68cf20ccbcd07c129a2f95d3344db93","crc32":"c5bc1f65","sha1":"ea546b6997b3608d7f7fcda4dbad34aaa26fdc36","format":"JSON"},{"name":"latimes-2023-01-01T05:45:04.355736-08:00.hyperlinks.json","source":"original","mtime":"1672580724","size":"56847","md5":"7379d3dfaedcd87cbcc66a263dfd2a8b","crc32":"b6b5a1f2","sha1":"84de9e63c0312ac51b6da7087b59ccd8c2e25670","format":"JSON"},{"name":"latimes-2023-01-01T05:45:04.355736-08:00.jpg","source":"original","mtime":"1672580710","size":"258963","md5":"ce8b7f0927928e8157a8604352614168","crc32":"7b74c4e1","sha1":"4ff6d2e6f44442d28887c340486557180a54f52f","format":"JPEG","rotation":"0"},{"name":"latimes-2023-01-01T05:45:04.355736-08:00.lighthouse.json","source":"original","mtime":"1672580726","size":"1552","md5":"e91228fa76fdbb68189ccd60268d9176","crc32":"93ec74dd","sha1":"2adc6f719237aac93d421d4557b00af12ef8c461","format":"JSON"},{"name":"latimes-2023-01-01T05:45:04.355736-08:00.wayback.json","source":"original","mtime":"1672580727","size":"2764","md5":"28c298bccd4d73cb2dcdb5bfd2b331da","crc32":"7aae71cf","sha1":"082990a4acb3a00604d7a970896d01091450f63e","format":"JSON"},{"name":"latimes-2023-01-01T05:45:04.355736-08:00_thumb.jpg","source":"derivative","format":"JPEG
        Thumb","original":"latimes-2023-01-01T05:45:04.355736-08:00.jpg","mtime":"1672580777","size":"9815","md5":"de45998982118444dec36d31faf60e56","crc32":"b7814472","sha1":"7111f78dbf2b4b11de7208c84bc8edfd2bd2d7eb"},{"name":"latimes-2023-01-01T18:12:52.667195-08:00.accessibility.json","source":"original","mtime":"1672625579","size":"46691","md5":"71f95dd48f7910f5fd290c708ed11f0a","crc32":"f8cced11","sha1":"ea3657004dfc6d1ac3b04c07a1400a749b79ecc9","format":"JSON"},{"name":"latimes-2023-01-01T18:12:52.667195-08:00.hype[...]
